/* Stylesheet for the application */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
body, html {
    height: 100%;
    margin: 0;
background-color: #ae42d5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-dropdowns {
    text-align: center;
}

.centered-dropdowns select {
    width: 300px;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Increase button size */
.submit-container input[type="submit"] {
    padding: 15px 30px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center the dropdowns */
}

.Vælg-antal select {
    margin-left: 50px; /* Adjust as needed */
}

.submit-container {
    margin-top: 50px; /* Adjust as needed */
}
.orange-border {
    border-top: 30px solid orange;
    width: 100%;
}

.light-orange-border {
    border-top: 30px solid lightcoral;
    width: 100%;
}

.pink-border {
    border-top: 30px solid pink;
    width: 100%;
}
