<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<td>
    <!-- if customer is logged in -->
    <div th:if="${session.currentUser != null}">
        <div th:text="${session.currentUser.email}"></div>
    </div>
    <!-- ELSE -->
    <div th:unless="${session.currentUser != null}">
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
    </div>
</td>

<div class="page">
    <h1>Velkommen til</h1>
    <a href="../index.html" th:href="@{/}">
        <img class="picture" alt="logo" src="../public/images/Olsker logo.png" th:src="@{/images/matchmaker/matchmakerlogo.png}">
    </a>
    <form class="generic-form" action="/addCredit" method="post">
        <input type="text" name="balance" placeholder="add credit"/>
        <input type="text" name="email" placeholder="who gets the credit?"/>

        <button class="creditadded btn-ok" type="submit">add credit</button>
    </form>
</div>
<div><p th:text="${message}"></p></div>
</body>
</html>
