<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<td>
    <!-- if customer is logged in -->
    <div th:if="${session.currentUser != null}">
        <div th:text="${session.currentUser.email}"></div>
    </div>
    <!-- ELSE -->
    <div th:unless="${session.currentUser != null}">
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
    </div>
</td>


<div class="page">
    <a href="../login.html" th:href="@{/login}">
        <img alt="logo" src="../public/images/Olsker logo.png"
             th:src="@{/images/Olsker_logo.png}"/>
    </a>

    <form class="generic-form"  method="post">
        <input type="text" name="balance" placeholder="add credit"/>
        <input type="text" name="email" placeholder="who gets the credit?"/>

        <button class="creditadded btn-ok" type="submit" formaction="/admin">add credit</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>


    </form>

<form class="table" id="table-styling" method="post">
    <table class="task-table">
        <thead>
        <tr>
            <th>Orderline ID</th>
            <th>Orderline Quantity</th>
            <th>Orderline Price</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderline: ${session.orderlines}">
            <td th:text="${orderline.orderlineId}"></td>
            <td th:text="${orderline.quantity}"></td>
            <td th:text="${orderline.price}"></td>
            <td th:text="${orderline.email}"></td>
        </tr>
        </tbody>
    </table>
</form>
</div>

</body>
</html>
