<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/cart.css" th:href="@{/css/cart.css}" rel="stylesheet"/>
</head>
<body>

<img class="picture" alt="logo" src="../../resources/public/images/Olsker_logo.png" width="20%" />


<td>
    <div th:if="${session.currentUser != null}">
        <div th:text="${session.currentUser.email}"></div>
    </div>

    <div th:unless="${session.currentUser != null}">
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
    </div>
</td>

<td>
    <divr th:if="${session.currentUser.role == admin}">
        <button th:text="${session.currentUser.email}" type="button" formaction="/admin "></button>
    </divr>
</td>



<form class="table" id="table-styling" method="post">
    <table class="task-table">
        <thead>
        <tr>
            <th>Bottom</th>
            <th>Top</th>
            <th>Amount</th>
            <th>price</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item, itterationStat: ${session.cart}">
            <td th:text="${item.Bottom.name}"></td>
            <td th:text="${item.Top.name}"></td>
            <td th:text="${item.quantity}"></td>

        </tr>
        <tr>
    <p th:text="${session.sum}" id="sumText" ></p>
    <p th:text="${session.totalitems}" id="sumTextt" ></p>

        </tr>
        </tbody>
<tr>
        <div th:if="${session.currentUser != null}">
            <button class="payButton" type="submit" name="pay" formaction="/pay">Pay using wallet</button>
        </div>

        <div th:unless="${session.currentUser != null}" class="logInToPurchase">
            <p>You need to log in to purchase</p>
        </div>
</tr>
    </table>
</form>
</body>
</html>