<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<img class="picture" alt="logo" src="../../resources/public/images/Olsker_logo.png"/>


<td>
    <div th:if="${session.currentUser != null}">
        <div th:text="${session.currentUser.email}"></div>
    </div>

    <div th:unless="${session.currentUser == admin}">
        <a href="admin.html" th:href="@{/admin}">
        <button class="loginButtonAdmin" type="submit" formaction="/admin">Admin</button>
        </a>
    </div>

    <div th:unless="${session.currentUser != null}">
        <a href="login.html" th:href="@{/login}">
            <button class="loginButton" type="submit" formaction="/login">Login</button>
        </a>
    </div>
</td>


<form class="table" id="table-styling" method="post">
    <table class="task-table">
        <thead>
        <tr>
            <th>Bottom</th>
            <th>Top</th>
            <th>Amount</th>
            <th>price</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item, itterationStat: ${session.cart}">
            <td th:text="${item.Bottom.name}"></td>
            <td th:text="${item.Top.name}"></td>
            <td th:text="${item.quantity}"></td>

        </tr>
        <tr>
    <p th:text="${session.sum}" id="sumText" ></p>
    <p th:text="${session.totalitems}" id="sumTextt" ></p>

        </tr>
        </tbody>

       <!-- <button type="submit" name="itemId" th:value="${item.itemId}" formaction="/pay">pay with credits -->
        </button>
    </table>
</form>
</body>
</html>