<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/indexstyling.css" th:href="@{/css/indexstyling.css}" rel="stylesheet"/>
</head>

<body>
<div class="orange-border"></div>
<div class="light-orange-border"></div>
<div class="pink-border"></div>
<img class="picture" alt="logo" src="../../resources/public/images/Olsker_logo.png" th:src="@{/images/Olsker_logo.png}"/>

<td>
    <div th:if="${session.currentUser != null}">
        <div th:text="${session.currentUser.email}"></div>
    </div>

    <div th:unless="${session.currentUser != null}">
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
    </div>
</td>

<td>
    <div th:if="${session.currentUser != null}">
        <div th:text="${session.currentUser.email}"></div>
        <span th:if="${session.currentUser.role == admin}">
        <link href="../admin.html" th:href="@{/admin.html}">
        </span>
    </div>

</td>


<form method="post">

  
    <form class="generic-form" method="get">
        <input type="text" name="email" placeholder="Enter your email"/>
        <input type="password1" name="password1" placeholder="Enter your password"/>
        <input type="password2" name="password2" placeholder="Reenter your password"/>

        <button class="btn btn-ok" type="submit" formaction="/index">Register</button>
        <p>OR</p>
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
        <p>OR</p>
        <button class="btn btn-ok" type="submit" formaction="/?">Continue without login</button>


        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>

</form>
</div>

</body>
</html>