<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img alt="logo" src="../public/images/computer.jpg" th:src="@{/images/computer.jpg}" width="20%"/>
        </a>
    </header>


    <h3>Sign up</h3>

    <form class="generic-form" method="post">
        <input type="text" name="email" placeholder="Enter your email"/>
        <input type="password1" name="password1" placeholder="Enter your password"/>
        <input type="password2" name="password2" placeholder="Reenter your password"/>

        <button class="btn btn-ok" type="submit" formaction="/index">Register</button>
        <p>OR</p>
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
        <p>OR</p>
        <button class="btn btn-ok" type="submit" formaction="/?">Continue without login</button>


        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>


</div>
</body>
</html>
